@import url('https://fonts.googleapis.com/css2?family=BBH+Bartle&family=Gravitas+One&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
/* body{
    background:linear-gradient(120deg,black,rgb(141, 9, 202),blue);
} */
*{
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
header{
    background-image: url(image_web/head2.webp);
    background-repeat: no-repeat;
    background-size: cover;
    height: 750px;
    position: relative;
}
.maneta{
    width: 80px;
    /* margin-right: 500px; */
}
/* logo */
.name_braind{
    color: rgb(148, 43, 214);
    margin-top: 6%;
    letter-spacing: 3px; 
    font-size: xx-large;
    display: flex; 
    flex-wrap: nowrap;
}
/* navbar */
.nav_bar{
    display: flex;
    justify-content: space-around;
    /* float: right; */
    margin-top: 0px;  
}
@media screen and (max-width:510px){
    .header{
        background-size: contain;
    }
    .nav_bar{
        flex-direction: column;
    }
    .name_braind{
        flex-wrap: nowrap;
    }
    .par-box {
        /* display: block;
        flex-direction: column;
        flex-wrap: wrap;*/
        width: 100%; 
        flex-direction: column;
        justify-content:center ;
        align-items: space-evenly;
        gap: 20px;
        background-color: #eb4700;
        margin-left:1px ;
    }
    .big-box{
        background-color: #af40ff;
        width: 100px;
    }
    .par2-box{
        display: flex;
        flex-wrap: wrap;
    }
    .decor-form{
        flex-wrap: wrap;
    }
    .last-one form{
        flex-wrap: ;
    }
}
.nav_bar2{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}
.logo-web{
    display: flex;

}
.button_sing{
    margin:10px 60px 0 40px;
    border-radius: 70px;
    height:40px;
    background: linear-gradient(144deg, #af40ff, #5b42f3 50%, #00ddeb);
    border:none;
    font-size: 18px;
    padding:10px;
}
.button_sing a{
    text-decoration: none;
    color:#ffffff;
    font-weight: bolder;
}
.button_sing:hover{
    transform: scale(1.2);
    transition-duration: 0.3s;
    /* transform: rotatex(360deg);
    transition-duration:0.7s; */
}
.menu{
    list-style: none;
    display: flex;
    gap: 40px;
    padding-top: 16px;
    font-family: "Roboto", sans-serif;
}
.menu .dropdown .title-dropdown{
    letter-spacing: 6px;
    font-size: large;
    font-weight: bolder;
}
.menu a{
    text-decoration: none;
    color: aliceblue;
    
}
.menu li{
    position: relative;
}
.submenu{
    list-style: none;
    position: absolute;
    background-color:blueviolet;
    padding: 0;
    width: 180px;
    display: none;
    box-shadow: 10px 10px 10px black;
}
.dropdown:hover .submenu{
    background-color: rgb(41, 74, 112);
    display: block;

}
.submenu li{
    padding:10px 0 10px 10px;
}
.submenu li:hover{
    background: linear-gradient(160deg,rgb(37, 37, 181),rgb(93,0,255));
}
ul li a{
    text-decoration: none;
    color: rgb(24, 40, 219); 
    position: relative; 
}
ul li ::before{
    content: "";
    position: absolute;
    left: 0;
    top: -6px;
    width: 0;
    height: 2px;
    background-color: rgb(76 0 255);
    transition: 0.3s;
}
ul li a:hover::before{
    width: 100%;
}
/* description de page(introduction) */
.description{
    position: absolute;
    top: 40%;
    left: 25%;
    color: #ffffff;
    transform: translate(-25%, -50%);
}
.description p{
    font-size: x-large;
    margin-left:4% ;
}
.description h1{
    color: #e2e1ea;
    font-size: xx-large;
    margin-top: 25px;
    margin-bottom: 20px;
}
.paragraph{
    width: 50%;
}
/* PART1 */
.sub_title{
    
    border: 2px solid black;
    margin: 100px auto;
    width: fit-content;
    padding: 10px 20px;
    position: relative;
    font-size: 30px;
    z-index: 1;
    /* transition: rgb(93, 0, 255); */
}
.sub_title::before,
.sub_title::after{
    content: "";
    position: absolute;
    background-image:linear-gradient(160deg,rgb(37, 37, 181),rgb(93,0,255));
    width: 12px;
    height: 12px;
    border-radius:50% ;
    top: 50%;
    transform: translateY(-50%);
}
.sub_title::before{
    left: -30px;
}
.sub_title::after{
    right:-30px;
}
.sub_title:hover::before{
    z-index: -1;
    animation: left_title 0.5s linear  forwards ;
}
.sub_title:hover::after{
    z-index: -1;
    animation: right_title 0.5s linear  forwards ;
}
.sub_title:hover{
    color: white;
    
    border: 2px solid white;
    transition-delay: 0.5s;
}
@keyframes left_title {
    50%{
        width: 12px;
        height: 12px;
        left: 0;
    }
    100%{
        left: 0;
        border-radius: 0;
        width: 100%;
        height: 100%;
    }
}
@keyframes right_title {
    50%{
        width: 12px;
        height: 12px;
        right:0;
    }
    100%{
        right: 0;
        border-radius: 0;
        width: 100%;
        height: 100%;
    }
}
/* ////////////////////////////////////////////////////////////////////////// */

/* ////////////////////////////////////////////////////////////////////////////////////// */



/* le col 2 de cards */
.part:hover{
    background: linear-gradient(144deg, #af40ff, #5b42f3 50%, #00ddeb);
    border-radius: 20px;
    transform: scale(1.1);
    box-shadow: 0 10px 25px rgb(0 0 0 / 0.3);
}
.part-inside{
    background: linear-gradient(144deg, #af40ff, #5b42f3 50%, #00ddeb);
    border-radius: 18%;
    height: 195px;
    
}
.part-inside:hover{
    background: linear-gradient(144deg, #af40ff, #5b42f3 50%, #00ddeb);
    transform: scale(1.1);
    box-shadow: 0 10px 25px rgb(0 0 0 / 0.3);
}
.part-inside span{
    font-size: x-large;
}
.img-l{
    width: 100%;
    height: 80%;
    border-bottom-left-radius: 18px;
    border-bottom-right-radius: 18px;
}
/* le col 1 de cards */
.big-box:hover{
    background-color: rgb(235, 235, 240); 
    transform: scale(1.1);
    box-shadow: 0 10px 25px rgb(0 0 0 / 0.3);
}
.part3{
    display: flex;
    justify-content: center;
    justify-content: space-between 30px;
    margin-top: 40px;
    margin-bottom: 20px;
    
}
.jouj{
    margin-right: 380px;
}
.but2{
    background: linear-gradient(144deg, #af40ff, #5b42f3 50%, #00ddeb);
    color: rgb(255, 255, 255);
    border-radius: 20px;
    margin-left: 340px;
    padding: 11px 15px;
    border: none;
    white-space: nowrap;
}
.but2:hover{
    transform: scale(1.2);
    transition-duration: 0.3s;
}
.par-box{
    display: flex;
    justify-content: space-evenly ;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 40px;
}

.big-box{
    background-color: rgb(190 217 240 / 51%);
    width: 220px;
    height: 255px;
    border-radius: 20px; 
    
}
.rad{ 
    border-radius: 20px;
    width: 220px;
    height: 150px;
}
.shoping{
    width: 50px;
    border-radius: 20px;
}
.taro{
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}
.part4{
    display: flex;
}
.par2-box{
    display: flex;
    margin-bottom: 40px;
    margin-left: 210px;
    margin-right: 200px;
    padding: 5px;
    padding-left: 25px;
}
.blur{
    color: rgba(111, 4, 225, 0.776);
}
/* hado lbutton dial l card o l view all */
.explo{
    background: linear-gradient(144deg, #af40ff, #5b42f3 50%, #00ddeb);
    color: rgb(255, 255, 255);
    border-radius: 230px;
    padding: 11px 15px;
    border: none;  
    font-size: 18px;
    
}

.explo:hover{
    transform: scalex(1.1);
}
.jr{
    background: linear-gradient(144deg, #af40ff, #5b42f3 50%, #00ddeb);
    padding: 10px 0 0 0;
    border-radius: 18px;
    border-bottom-left-radius: 18px;
    border-bottom-right-radius: 18px;
    height: 203px;
} 
/* hadi dial col 3  //////////////////////////////////////////////////////////////////*/
.last{
    display: flex;
    justify-content: space-evenly;
    margin-top: 40px;
    margin-bottom: 60px;
    margin-left: 220px;
    margin-right: 220px;
}
span{
    display: block;
    color: aliceblue;
    text-align: center;
    padding-bottom: 15px;
    padding-top: 5px;
}
.center{
    text-align: center;
}
/* ///////////////////////////////////////////////////////////////////////////////// */


/* hadi dial col 2 dial image */
.islah{
    width: 135px;
    height: 130px;
    border-radius: 20px;
}
.part{  
    text-align: center;
}
.nega{
    background-color: aliceblue;
    border-radius: 60px;
    padding-top: 5px;
    padding-bottom: 5px;
}

/* @media screen and (max-width:502px) {
    .last-one form{
        display: flex;
        flex-direction: ;
        flex-wrap: wrap;
    }
} */
/* le formulaire o akhir haja */
.last-one{
    background: linear-gradient(144deg, #af40ff, #5b42f3 50%, #00ddeb);
    width: 100%;
    height: 500px;
    padding-top: 30px;
    border-top-left-radius:40px ;
    border-top-right-radius: 40px;
    position: relative;
    display: flex;
    justify-content: space-evenly;
}
.last-one form{
    position:relative;
    background-color:#ffffff;
    padding: 20px 400px 20px 20px;
    display: flex;
    flex-direction: column;
    border-radius:20px ;
    box-shadow: 10px 10px 53px 3px rgb(44, 39, 39);
}
.last-one form input{
    margin-bottom: 20px;
    border-radius: 10px;
    outline: none;
    border: none;
    padding: 15px 130px 15px 20px;
    background-color: #847eb325;
    box-shadow: 1px 1px 4px 3px gray;
}
.last-one form input:hover{
    transform: scale(1.1);
}
.button-form{
    background: linear-gradient(144deg, #af40ff, #5b42f3 50%, #00ddeb);
    padding: 15px;
    border:none;
    font-size: 18px;
    color: #ffffff;
    box-shadow: 7px 7px 22px 2px gray;
    border-radius:0 50px 0 50px ;
}
.button-form:hover{
    transform: scale(1.1);
    transition-duration: 0.5s;
}
.message-form{
    background: linear-gradient(144deg, #af40ff, #5b42f3 50%, #00ddeb);
    width: 45%;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    border-top-left-radius: 30%;
    border-bottom-left-radius: 30%;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}
.decor-form{
    display:flex ;
    gap: 40px;
    /* justify-content: space-around; */
    width: 100%;
    height: 100%;
    padding: 40px;
    text-align: center;   
}
.decor-form h1{
    margin-bottom: 20px;
    margin-top: 20px;
    font-size: xx-large;
}
.decor-form .icon-svg{
    margin-bottom: 20px;
    margin-top: 20px;
}
/* .decor-form-message{
    display: flex;
    flex-direction: column;
    gap: 30px;
} */
/* .formulair{
    display: flex;
    flex-direction: column;
    background-color:#ffffff;
    align-content: space-evenly;
} */
/* .by{

    color: aliceblue;
    flex-wrap: nowrap;
    text-align: center;
} */

/* icon dial les apllication */
svg{
    width: 40px;
    background-color: grey;
    fill: aliceblue;
    /* gap: 10px; */
}
.yuotube:hover{
    fill: #eb0000;
    background-color: #f6f6f6;
}

.facebook:hover{
    fill: #ffffff;
    background-color: #3326e0;
}
.messanger:hover{
    fill: #3326e0;
    background:#ffffff;
}
.telegram:hover{
    background-color: #ffffff;
    fill: #00ddeb;
}