@import url('https://fonts.googleapis.com/css2?family=BBH+Bartle&family=Gravitas+One&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
/* body{
    background:linear-gradient(120deg,black,rgb(141, 9, 202),blue);
} */
 /* /////////////////////////////////////////////////////////////////// */
/* BASIC STYLES */

a{
    text-decoration: none;
}
body{
    line-height: 1,6;
    
}
img{
    max-width: 100%;
    display: block;
}
/* ///////////////////////////////////////////////////////////////////////////////////////////////// */





*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
header{
    display: flex;
    flex-direction: column;
    background-image:linear-gradient(to bottom,rgba(0, 0, 0, 0.539) 0%,transparent 70%,#ffffff),url("image_web/head2.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height:100vh;
    /* position: relative; */
}
.nav_bar{
    padding: 0 1rem;
    display: flex;
    align-items:center;
    justify-content: space-around;
    /* float: right; */
    /* margin-top: 0px;   */
}
.logo-web{
    display: flex;
    gap:8px;
    padding-top: 14px;
    align-items: center;
    justify-content:center;
}
.maneta{
    width: 80px;
    /* margin-right: 500px; */
}
/* logo */
.name_braind{
    /* color: rgb(148, 43, 214); */
    color: #fff;
    text-shadow: 
    0 0 25px rgb(116, 30, 255),
    0 0 40px rgb(116, 30, 255),
    0 0 60px rgb(116, 30, 255),
    0 0 90px rgb(116, 30, 255),
    0 0 120px rgb(116, 30, 255),
    0 0 200px rgb(116, 30, 255);
    letter-spacing: 3px; 
    font-size: xx-large;
    display: flex; 
    white-space: nowrap;
}
/* navbar */
.nav_bar2{
    display: flex;
    gap:40px;
    /* flex-wrap: wrap; */
    align-items:baseline;
    justify-content:center;
}
.button_sing{
    /* margin:10px 60px 0 40px; */
    border-radius: 70px;
    height:40px;
    background: linear-gradient(144deg, #af40ff, #5b42f3 50%, #00ddeb);
    border:none;
    font-size: 18px;
    padding:10px;
}
.button_sing a{
    text-decoration: none;
    white-space: nowrap;
    color:#ffffff;
    font-weight: bolder;
}
.button_sing:hover{
    transform: scale(1.2);
    transition-duration: 0.3s;
    /* transform: rotatex(360deg);
    transition-duration:0.7s; */
}
.menu{
    list-style: none;
    display: flex;
    gap: 40px;
    padding-top: 16px;
    font-family: "Roboto", sans-serif;
}
.menu .dropdown .title-dropdown{
    letter-spacing: 6px;
    font-size: large;
    font-weight: bolder;
}
.menu a{
    text-decoration: none;
    color: aliceblue;
    
}
.menu li{
    position: relative;
}
.submenu{
    list-style: none;
    position: absolute;
    background-color:blueviolet;
    padding: 0;
    width: 180px;
    display: none;
    box-shadow: 10px 10px 10px black;
}
.dropdown:hover .submenu{
    background-color: rgb(41, 74, 112);
    display: block;

}
.submenu li{
    padding:10px 0 10px 10px;
}
.submenu li:hover{
    background: linear-gradient(160deg,rgb(37, 37, 181),rgb(93,0,255));
}
ul li a{
    text-decoration: none;
    color: rgb(24, 40, 219); 
    position: relative; 
}
ul li ::before{
    content: "";
    position: absolute;
    left: 0;
    top: -6px;
    width: 0;
    height: 2px;
    background-color: rgb(76 0 255);
    transition: 0.3s;
}
ul li a:hover::before{
    width: 100%;
}
/* description de page(introduction) */
.description{
    /* position: absolute;
    top: 40%;
    left: 25%; */
    font-family:Arial, sans-serif;
    color: #ffffff;
    line-height:2.5;
    height:100%;
    display: flex;
    flex-direction: column;
    /* align-items: center;
    justify-content: center; */
    padding: 6rem;
    /* background-color: #00ddeb; */
    /* transform: translate(-25%, -50%); */
}
.description p{
    font-size: x-large;
    /* margin-left:4% ; */
}
.description h1{
    color: #e2e1ea;
    font-size: xx-large;
    /* justify-content: justify; */
    /* margin-top: 25px;
    margin-bottom: 20px; */
}
.paragraph{
    line-height:1.8;
    width: 50%;
}

/* PART1 */
.section{
    padding: 80px 5%;
    max-width: 1400px;
    margin:0 auto;
}
.section2{
    background: #f8f9fa;
    border-radius: 40px;
    margin: 50px 5%;
    padding: 1px;
}
.sub_title{
    
    border: 2px solid black;
    margin: 100px auto;
    width: fit-content;
    padding: 10px 20px;
    position: relative;
    font-size: 30px;
    z-index: 1;
    /* transition: rgb(93, 0, 255); */
}
.sub_title::before,
.sub_title::after{
    content: "";
    position: absolute;
    background-image:linear-gradient(160deg,rgb(37, 37, 181),rgb(93,0,255));
    width: 12px;
    height: 12px;
    border-radius:50% ;
    top: 50%;
    transform: translateY(-50%);
}
.sub_title::before{
    left: -30px;
}
.sub_title::after{
    right:-30px;
}
.sub_title:hover::before{
    z-index: -1;
    animation: left_title 0.5s linear  forwards ;
}
.sub_title:hover::after{
    z-index: -1;
    animation: right_title 0.5s linear  forwards ;
}
.sub_title:hover{
    color: white;
    
    border: 2px solid white;
    transition-delay: 0.5s;
}
@keyframes left_title {
    50%{
        width: 12px;
        height: 12px;
        left: 0;
    }
    100%{
        left: 0;
        border-radius: 0;
        width: 100%;
        height: 100%;
    }
}
@keyframes right_title {
    50%{
        width: 12px;
        height: 12px;
        right:0;
    }
    100%{
        right: 0;
        border-radius: 0;
        width: 100%;
        height: 100%;
    }
}
/* ////////////////////////////////////////////////////////////////////////// */

/* ////////////////////////////////////////////////////////////////////////////////////// */



/* le col 2 de cards */
.part{  
    flex: 1 1 calc(33.33% - 25px);
    min-width: 200px;
    background: white;
    border-radius: 20px;
    padding: 20px;
    text-align: center;
    transition: transform 0.3s;
}
.part:hover{
    transform: translateY(-5px);
    background: linear-gradient(144deg, #af40ff, #5b42f3 50%, #00ddeb);
    color: white;
}
.part:hover .blur{
    color: white;
}
.part img{
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 15px;
    margin-bottom: 15px;
}
.part-inside{
    flex: 1 1 calc(20% - 30px);
    min-width: 200px;
    background: linear-gradient(144deg, #af40ff, #5b42f3 50%, #00ddeb);
    border-radius: 20px;
    height: 250px;
    position: relative;
    overflow: hidden;
    transition: transform 0.3s;
}
.part-inside:hover{
    transform: scale(1.05);
}
.categories-name{
    padding: 30%;
    font-size: x-large;
    letter-spacing: 5px;
}
 
.part-inside .img-l{
    width: 100%;
    height: 80%;
    object-fit: cover;
    position: absolute;
    bottom: 0;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
/* le col 1 de cards */

.section-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    
}
.section-information{
    flex: 1;
}
.tag{
    color: #af40ff;
    font-weight: bold;
    font-size: 14px;
}
.section-information h2{
    font-size: 28px;
}
.center{
    text-align: center;
    margin-bottom: 40px;
}
.but2{
    background: linear-gradient(144deg, #af40ff, #5b42f3 50%, #00ddeb);
    color: rgb(255, 255, 255);
    border-radius: 20px;
    padding: 11px 15px;
    border: none;
}
.but2:hover{
    transform: scale(1.2);
    transition-duration: 0.3s;
}
.par-box{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin-bottom: 40px;
}

.big-box{
    flex: 1 1 calc(25% - 30px);
    width: 250px; 
    background: rgba(190, 217, 240, 0.5);
    border-radius: 20px;
    overflow: hidden;
    transition: transform 0.3s;
}
.big-box:hover{
    transform: translateY(-10px);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}
.big-box .rad{ 
    width: 100%;
    height: 200px;
    object-fit: cover;
}
.icon-shopin{
    width: 40px;
    height: 40px;
    border-radius: 10px;
}
.game-information{
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.game-information h4{
    font-size: 18px;
    margin: 0;
}
.part4{
    display: flex;
}
.par2-box{
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    padding: 20px 0;
}

.blur{
    color: #af40ff;
    font-size:xx-large;
    font-weight: bolder;
    display: block;
    margin-bottom: 5px;
}
.game-information h5{
    font-size: xx-large;
    color: #3326e0;
}
/* hado lbutton dial l card o l view all */
.explo{
    background: linear-gradient(144deg, #af40ff, #5b42f3 50%, #00ddeb);
    color: rgb(255, 255, 255);
    border-radius: 230px;
    padding: 11px 15px;
    border: none;  
    font-size: 18px;
    
}

.explo:hover{
    transform: scalex(1.1);
}
.jr{
    background: linear-gradient(144deg, #af40ff, #5b42f3 50%, #00ddeb);
    padding: 10px 0 0 0;
    border-radius: 18px;
    border-bottom-left-radius: 18px;
    border-bottom-right-radius: 18px;
    height: 203px;
} 
/* hadi dial col 3  //////////////////////////////////////////////////////////////////*/
.last{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}
span{
    color: aliceblue;
    text-align: center;
    padding-bottom: 15px;
    padding-top: 5px;
}


.conteneur-devices{
    gap: 2%;
    padding:10px 0 50px 0; 
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
}
.article1{
    width: 30%;
}
.article1,.article2,.article3{
    background-color: rgb(251, 255, 255);
    flex: 1 1 30%;

}
.article1 img{
    height: 60%;
    width: 100%;
}
.article1 .inside-article button{
    padding: 12px 30px;
    border-radius: 10px;
    border: #3326e0 2px solid;
    font-size: large;
    font-weight: bolder;
    color: #3326e0;
}
.article1 .inside-article button:hover{
    color: #ffffff;
    background-color: #3326e0;
}
.article2{
    background-color:rgb(251, 255, 255);
    width: 30%;
}
.article2 img{
    width: 100%;
    height: 60%;
}
.article2 .inside-article button{
    padding: 12px 30px;
    border-radius: 10px;
    border: #09cc61 2px solid;
    font-size: large;
    font-weight: bolder;
    color: #09cc61;
}
.article2 .inside-article button:hover{
    color: #ffffff;
    background-color: #09cc61;
}
.article3{
    width: 30%;
}
.article3 img{
    height: 60%;
    width: 100%;
    /* object-fit: cover; */
}
.inside-article{
    text-align: center;
    
}

.article3 .inside-article {
    height: 40%;
    background-color:rgb(251, 255, 255);
}



.article3 .inside-article button{
    padding: 12px 30px;
    border-radius: 10px;
    border: #e03926 2px solid;
    font-size: large;
    font-weight: bolder;
    color: #e03926;
    animation-name:colorBtn;
    animation-duration: 3.5s 
}
.article3 .inside-article button:hover{
    color: #ffffff;
    background-color: #e03926;
}
/* ///////////////////////////////////////////////////////////////////////////////// */


/* hadi dial col 2 dial image */
/* .islah{
    width: 135px;
    height: 130px;
    border-radius: 20px;
} */

/* $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ */
.footer-container{
    background-color: #5b42f3;
}
/* li jam3ahom */
.decor-form{
    background: linear-gradient(144deg, #af40ff, #5b42f3 50%, #00ddeb);;
    padding: 20px;
    height: 450px;
    display: flex;
    justify-content: space-between;
}
/* message li fjnb agauch */
.decor-form-message{
    width: 42%;
    display: flex;
    flex-direction: column;
    padding-top: 3%;
    gap: 20px;
    text-align: center;
}
.decor-form-title{
    /* text-align: center; */
}
/* le formulair li fjanb */
.formulair{
    background-color: #f5f3f3;
    width: 55%;
    height: 400px;
    display: flex;
    justify-content: space-between;
    border-radius: 25px;
    box-shadow: 5px 5px 20px 1px rgb(37, 35, 35);
    /* flex-wrap: wrap; */
}
.form-input{
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 10px;
    margin-left: 20px;
    text-align: center;
    padding-top: 30px;
}
.input-box input{
    background-color: #eae9e9;
    border-radius: 15px;
    border: none;
    outline: none;
    padding: 15px;
    width: 90%;
    box-shadow: 5px 5px 20px 1px rgb(195, 191, 191);
}
.input-box:hover{
    transform: scale(1.1);

}
.button-form{
    background: linear-gradient(144deg, #af40ff, #5b42f3 50%, #00ddeb);
    border: none;
    padding: 13px;
    width: 80%;
    margin: auto;
    border-bottom-left-radius: 50px;
    border-top-right-radius: 50px;
    color: #ffffff;
    font-size: large;
    box-shadow: 5px 5px 20px 1px rgb(195, 191, 191);
}
.button-form:hover{
    transform: scale(1.1);
    transition-duration: 0.5s;
    box-shadow: 5px 5px 20px 1px gray;
}
.message-form{
    background: linear-gradient(144deg, #af40ff, #5b42f3 50%, #00ddeb);
    /* border-top-left-radius: 30%;
    border-bottom-left-radius: 30%; */
    border-radius: 30% 25px 25px 30% ;
    width: 45%;
    
}
/* icon dial les site */
.icon-svg{
    height: 30px;
}
.icon-svg svg{
    width: 10%;
}
/* $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ */


    /* display: flex;
    flex-direction: column;
    background-color:#ffffff;
    align-content: space-evenly;
} */ */
/* .by{

    color: aliceblue;
    flex-wrap: nowrap;
    text-align: center;
} */

/* icon dial les apllication */
svg{
    fill: aliceblue;
    /* gap: 10px; */
}
.yuotube:hover{
    fill: #eb0000;
    background-color: #f6f6f6;
}

.facebook:hover{
    fill: #ffffff;
    background-color: #3326e0;
}
.messanger:hover{
    fill: #3326e0;
    background:#ffffff;
}
.telegram:hover{
    background-color: #ffffff;
    fill: #00ddeb;
}


/* Tablet */
@media (max-width: 1024px) {
    .big-box {
        flex: 1 1 calc(50% - 30px);
    }
    
    .part {
        flex: 1 1 calc(50% - 25px);
    }
    
    .last .part-inside {
        flex: 1 1 calc(33.33% - 30px);
    }
    
    .best-title {
        font-size: 36px;
    }
}

/* Mobile */
@media (max-width: 768px) {
    .nav_bar {
        flex-direction: column;
        gap: 20px;
    }
    .article1,.article2,.article3{
        flex: 1 1 50%;
        /* margin: 10px; */
    }
    .title-dropdown,
    .button_sing {
        flex-direction: column;
        gap: 15px;
    }
    
    .description {
        margin-top: 50px;
    }
    
    .best-title {
        font-size: 28px;
    }
    
    .big-box {
        flex: 1 1 100%;
        min-width: 100%;
    }
    
    .part {
        flex: 1 1 100%;
        min-width: 100%;
    }
    
    .last .part-inside {
        flex: 1 1 calc(50% - 30px);
    }
    
    /* .footer-container {
        flex-direction: column;
    } */
    
    /* .footer-info,
    .signup-form {
        flex: 1 1 100%;
    } */
    
    .section-header {
        flex-direction: column;
        align-items: flex-start;
        gap: 15px;
    }
    
    .section {
        padding: 40px 20px;
    }
    
    .section2 {
        margin: 30px 20px;
        padding: 40px 20px;
    }
    .conteneur-devices{
        flex-wrap: wrap;
        gap: 3rem;
    }
    .decor-form{
        display: flex;
        flex-direction: column; 
        margin: auto;
        height: fit-content;
    }
    .decor-form-message{
        margin: auto;
        margin-bottom: 30px;
    }
    .formulair{
        margin: auto;
        width: 80%;
    }
    .icon-svg svg{
        width: 15%;
    }
}

/* Small Mobile */
@media (max-width: 480px) {
    .maneta {
        width: 40px;
    }
    
    .name_braind {
        font-size: 18px;
    }
    
    .best-title {
        font-size: 24px;
    }
    
    .paragraph {
        font-size: 16px;
    }
    
    .section-title {
        font-size: 24px;
        padding: 10px 20px;
    }
    
     
    .last .part-inside{
        flex: 1 1 100%;
        min-width: 100%;
    }
    
    .signup-form {
        padding: 25px;
    }
}


@media screen and (max-width:530px){
    header{
        /* background-size: contain; */
        justify-content: space-between;
        
    }
    .nav_bar{
        flex-direction: column;
    }
    .nav_bar2{width: 100vw;justify-content:center;gap:16px;}
    .maneta{
        width: 50px;
    }
    .name_braind{
        font-size: large;
        flex-wrap: nowrap;
    }
    .menu{
        gap:20px;
    }
    .menu .dropdown .title-dropdown{
        letter-spacing:1px;
        font-weight: bolder;
        font-size:small;
    }
    .button_sing{font-size:medium;}
    .paragraph{
        width: unset;
    }
    .icon-svg svg{
        width: 15%;
    }
    .decor-form-message{
        margin: auto;
        display: flex;
        flex-wrap: nowrap;
        margin-bottom: 30px;
    }
    .form-input{
        margin: auto;
        width: 100%;
    }
    .message-form {
        display: none;
    }
}
@media screen and (max-width:721px){
    header{
         background-image:linear-gradient(rgba(0, 0, 0, 0.537)),url("image_web/head2.webp");
    }
    .nav_bar{
        flex-direction: column;
    }
    .description{
        align-items: center;
        justify-content:center;
        gap:2rem;
        line-height:1.5;
        text-align: center;
        padding:0.5rem;
    }
}
@media screen and (min-width:511px) and (max-width:992px){
    .logo-web{padding-top:7px;}
    .maneta{
        width: 70px;
    }
    .name_braind{
        font-size: x-large;
        flex-wrap: nowrap;
    }
    .menu{
        gap:20px;
    }
    .menu .dropdown .title-dropdown{
        letter-spacing:1px;
        font-weight: bolder;
        font-size:medium;
    }
    .button_sing{font-size:medium;}
}
