*{
    background: linear-gradient(160deg,rgb(37, 37, 181),rgb(93,0,255));
    position: relative;
    height: 300px;
}
.article{
    display: flex;
    background-color: rgba(240, 248, 255, 0.185);
    width: 1000px;
    height: 100%;
    flex-direction: row;
    box-shadow: 5px 5px 10px 10px black;
    margin: 10% 10% 10% 10%;
    
}
img{
    display: block;
}
.article_inside{
    position: absolute;

}
.article_first_half{
    width: 40%;
}
.article_second_half{
    width: 60%;
}